
.header a,.my,.im{
    float: right;
    margin-right: 10px;
    margin-top: 5px;
}
.header #logo {
    float: left;
}
.header{
    margin-bottom: 25px;
    
  }
#write{
    margin-top: 15px;
    margin-right: 15px;
}
#im{
    font-size: 16px;
}
.header input{
    margin-top: 15px;

}

#parent{
    
    margin-top: 50px;
    padding-left: 400px;
    padding-right: 300px;
}
 /* #pho{
    margin-top: 40px;
    
} */
 /* .inside {
    float: left;
} */
.inside {
    display: flex;
    align-items: center;
  }
  
  .image {
    flex: 0 0 auto; 
    margin-right: 20px; 
  }
  
  .content {
    flex: 1; 
   
  }
 
  #icon{
    border-top: thin solid gray;
    border-bottom: thin solid gray;
    
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 50px;
    margin-top: 50px;
    margin-left: 400px;
    margin-right: 500px;
    
  }
  
  
  #icon #sh, #sh1, #sh2, #sh3 {
    float:right;
    margin-right: 10px;
  }
  #icon #hand, #share {
    margin-right: 10px;
  }
 
  #big-img{
    margin-top: 50px;
    padding-left: 400px;
    padding-right: 300px;
  }
#para{
    margin-top: 50px;
    padding-left: 400px;
    padding-right: 300px;
}
#foot{
    margin-top: 50px;
    padding-left: 400px;
    padding-right: 400px;
}
.insidef {
    display: flex;
    align-items: center;
  }
  
  .imagef {
    flex: 0 0 auto; 
    margin-right: 20px; 
  }
  
  .contentf {
    flex: 1; 
   
  }
  .contentf button{
   float: right;
  }
  #unfo{
    margin-top: 50px;
    
  }
  .fh{
    margin-top: 50px;
  
  }
  #icon2{
    
    margin-top: 100px;
    padding-left: 400px;
    padding-right: 500px;
  }
  #icon2 #sh2, #sh12, #sh22, #sh32 {
    float:right;
    margin-right: 10px;
  }
  #icon2 #hand2, #share2 {
    margin-right: 10px;
  }
  .imageff{
    width: 300px;
    height: 200px;
    font-size: small;
  }
  .imagefff{
    width: 300px;
    height: 200px;
    font-size: small;
  }
  #paren .imageff{
    float: left;
  }
  #paren .imagefff{
    float: right;
  }
  #paren .imageff{
    float: left;
  }
  .imageff a{
      padding-left: 10px;
  }
  .imagefff a{
    padding-left: 10px;
}
 
